.body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: lightblue;
}

.container {
    width: 80%;
    margin: auto;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.game-box {
    background-color: #2e6faf;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result {
    font-size: 18px;
    font-weight: bold;
}

button {
    margin-top: 15px;
}

.color {
    color: antiquewhite;
}


 {
    background-color: light;
    width: 100px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    text-aling:center;
  }

.intentos {
  background-color: light;
  width: 100px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  text-aling:center;
}